@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
:root {
    --jou-pink-1: rgb(39, 27, 33);
    --jou-pink-2: rgb(50, 34, 42);
    --jou-pink-3: rgb(55, 40, 48);
    --jou-pink-4: rgb(62, 41, 51);
    --jou-pink-5: rgb(113, 79, 97);
    --jou-pink-5-transparent: rgba(113, 79, 97, 0.2);
    --jou-pink-6: rgb(128, 87, 107);
    --jou-pink-7: rgb(159, 130, 146);
    --jou-pink-8: rgb(200, 166, 184);
    --jou-pink-9: rgb(247, 203, 226);
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    background-color: var(--jou-pink-3);
    font-family: Inter;
}

h1,
h2,
h3,
h5,
p {
    margin: 0.5rem 0;
    font-weight: 100;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.375rem;
    margin: 0.25rem 0 1.75rem 0;
    font-weight: 100;
}

h5 {
    font-size: 1.25rem;
}

p {
    font-size: 1.125rem;
    color: var(--jou-pink-7);
}